@use 'palette';

.btn {
    border: 0;
    border-radius: 16px;
    height: 46px;
    font-weight: 700;
    box-shadow: 0 4px 0 palette.$c-primary-darker;
    margin: 0;
    width: 100%;

    &:active {
        transform: translateY(4px);
        box-shadow: none;
    }

    &.btn-primary {
        background: palette.$c-primary;
        color: palette.$c-text-primary;
    }
}