$bg-dark: #131f24;
$c-primary: #49c0f8;
$c-primary-darker: #1898d6;
$c-text-primary: #131f24;
$c-input-border: #37464f;
$c-input-bg: #202f36;
$c-dark-contrast: #f1f7fb;
$c-dark-contrast-lighter: #dce6ec;
$c-casual: #ffb2b2;
$c-tournament: #83d7ff;