<div class="dashboard">
    <div class="game-mode-container" (click)="onCasualClick()">
        <div class="left-side">
            <span class="game-mode-title">Casual</span>
            <span class="game-mode-description">Improve your dart skills while chilling with your friends</span>
        </div>
        <div class="right-side">
            <i class="game-mode-icon casual fa-solid fa-shield-heart"></i>
        </div>
    </div>

    <div class="game-type-container" [class.transparent]="gameContainerStatus$() !== EGameContainerStatus.Casual">
        <button type="button" class="btn btn-casual" routerLink="/game/casual/join">JOIN</button>
        <button type="button" class="btn btn-casual" routerLink="/game/casual/create">CREATE</button>
    </div>

    <div class="game-mode-container" (click)="onTournamentClick()">
        <div class="left-side">
            <span class="game-mode-title">Tournament</span>
            <span class="game-mode-description">Keep up the competition with elo ranking</span>
        </div>
        <div class="right-side">
            <i class="game-mode-icon tournament fa-solid fa-ranking-star"></i>
        </div>
    </div>

    <div class="game-type-container" [class.transparent]="gameContainerStatus$() !== EGameContainerStatus.Tournament">
        <button type="button" class="btn btn-tournament" routerLink="/game/tournament/join">JOIN</button>
        <button type="button" class="btn btn-tournament" routerLink="/game/tournament/create">CREATE</button>
    </div>
</div>