<div class="dashboard">
    <div class="game-mode-container">
        <div class="left-side">
            <span class="game-mode-title">Casual</span>
            <span class="game-mode-description">Improve your dart skills while chilling with your friends</span>
        </div>
        <div class="right-side">
            <i class="game-mode-icon casual fa-solid fa-shield-heart"></i>
        </div>
    </div>

    <div class="game-mode-container">
        <div class="left-side">
            <span class="game-mode-title">Tournament</span>
            <span class="game-mode-description">Keep up the competition with elo ranking</span>
        </div>
        <div class="right-side">
            <i class="game-mode-icon tournament fa-solid fa-ranking-star"></i>
        </div>
    </div>
</div>