<header>
    <div class="content">
        <div class="left">
            <button type="button" class="btn btn-primary menu-button" (click)="toggleMenu()">
                <i class="fa-solid fa-bars menu-icon"></i>
            </button>
        </div>
        <div class="center">
            <avatar-selector [selected]="1" [readonly]="true" />
        </div>
        <div class="right"></div>
    </div>
    <hr class="fading-hr">
</header>

@if(ready$()) {
<div class="menu-panel" [class.transparent]="!showMenu$()">
    <div class="panel-content">

        <avatar-selector [selected]="authService.user$()?.avatarId"/>

        <button type="button" class="btn btn-primary">CURRENT TOURNAMENT</button>

        <button type="button" class="btn btn-primary">TOURNAMENT HISTORY</button>

        <button type="button" class="btn btn-primary">LEADERBOARD</button>
    </div>
</div>
}